.typing-animation {
    animation: blinkCursor 700ms steps(45) infinite normal, 
    typing 3.5s steps(45) 1s normal both;
}

@keyframes typing {
    from {
        width: 0;
    }
    to {
        width: 460px;
    }
}

@keyframes blinkCursor {
    from {
        border-right-color: rgb(179, 179, 179);
    }
    to {
        border-right-color: transparent;
    }
}
